{% extends '_base_admin.html' %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Comentarios</th>
            <th>Tiempo de lectura</th>
            <th>Creado</th>
            <th>Modificado</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a href="{{url_for('post.show_post', uuid=post.public_id, slug=post.title_slug)}}">{{ post.title }}</a></td>
            <td>{{ post.author.username }}</td>
            <td>{{ post.comments.__len__() }}</td>
            <td>{{ post.read_time }}</td>
            <td>{{ post.created|strftime }}</td>
            <td>{{ post.updated|strftime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Articulos: {{ posts.__len__() }}</h4>

{% endblock %}