{% extends '_base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>

<p>Escrito por <a href="{{ url_for('public.show_user', username=post.author.username)}}">
        {{ post.author.username }}</a>
</p>

<p>{{ post.created }}</p>
{% if post.updated %}
<p>{{ post.updated }}</p>
{% endif %}

<p>Lectura {{ post.read_time}} mins</p>

<div>
    {{post.content|safe}}
</div>

<ul>
    {% for comment in post.comments%}
    <li>
        <p><a href="{{ url_for('public.show_user', username=comment.author.username) }}">@{{ comment.author.username }}</a> dice:</p>
        <p>{{ comment.content }}</p>
    </li>
    {% endfor %}
</ul>


{% if current_user.is_authenticated %}
    <form method="post">
        {{ form.csrf_token() }}
        {{ form.content }}
        <button>Send</button>
    </form>
{% endif %}



{% endblock %}