{% extends '_base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="px-4 py-2 my-2 text-center">
    <h1 class="display-5 fw-bold">Editar perfil</h1>
</div>

<div class="card my-5 auth-form">
    <div class="card-body">
        <form method="post" autocomplete="off" enctype="multipart/form-data">
            {% from '_formhelper.html' import render_field %}

            {{ form.csrf_token }}

            {{ render_field(form.username) }}

            {{ render_field(form.first_name) }}

            {{ render_field(form.last_name) }}

            {{ render_field(form.email) }}

            {{ render_field(form.profile_image) }}

            {{ render_field(form.background_image)}}

            {{ render_field(form.password) }}

            {{ render_field(form.confirm_password) }}

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>

    {% if current_user.updated %}
    <div class="card-footer text-muted">
        Ultimo cambio {{current_user.updated|strftime('full')}}
    </div>
    {% endif %}
</div>
{% endblock %}