{% extends '_base.html' %}

{% block title %}Edict Profile{% endblock %}

{% block content %}
<h1>Edit Profile</h1>

<form method="post" autocomplete="off">
    {% from '_form_error_helper.html' import render_field %}

    {{ form.csrf_token }}

    {{ form.username.label }}
    {{ form.username }}
    {{ render_field(form.username) }}

    {{ form.first_name.label }}
    {{ form.first_name }}
    {{ render_field(form.first_name) }}

    {{ form.last_name.label }}
    {{ form.last_name }}
    {{ render_field(form.last_name) }}

    {{ form.email.label }}
    {{ form.email }}
    {{ render_field(form.email) }}

    {{ form.password.label }}
    {{ form.password }}
    {% if form.password.errors %}
    <ul>
        <li>La contraseña es insegura, debe contener:</li>
        <li>Al menos un carácter en mayúscula y uno en minúscula.</li>
        <li>Al menos un número.</li>
        <li>Al menos un símbolo especial.</li>
        <li>Una longitud de entre 8 y 20 caracteres.</li>
    </ul>
    {% endif %}

    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
    {{ render_field(form.confirm_password) }}


    <button>send</button>
</form>
{% endblock %}