{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card mt-5 auth-form">
    <div class="card-body">
        <form method="post" autocomplete="off">
            {% from '_formhelper.html' import render_field_login %}

            {{ form.csrf_token }}

            {{ render_field_login(form.username) }}

            <a href="{{ url_for('auth.reset_password') }}">Olvide mi contraseña</a>
            {{ render_field_login(form.password) }}

            <div class="mb-3 form-check form-switch">
                {{ form.remember_me(class="form-check-input")}}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>

            <div class="mb-3">
                <a href="{{ url_for('auth.signup') }}">Aun no me registro</a>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>
</div>
{% endblock %}