{% extends '_base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<form method="post" autocomplete="off">
    {% from '_form_error_helper.html' import render_field %}

    {{ form.csrf_token }}

    {{ form.username.label }}
    {{ form.username }}
    {{ render_field(form.username) }}

    {{ form.password.label }}
    {{ form.password }}
    {{ render_field(form.password) }}


    {{ form.remember_me}}
    {{ form.remember_me.label }}

    <button>send</button>
</form>

{% endblock %}