{% extends '_base.html' %}

{% block title %}Unconfirmed email{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Usted no ha confirmado su email</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">Si usted no confirma su email no podra acceder a las funciones mas importantes del MiniBlog, como entrar al dashboard o empezar a escribir post. Para confirmar su email usted debió recibir un mensaje de verificación, si usted no lo ha recibido haga <a href="{{ url_for('auth.resend_confirmation')}}">click aquí</a></p>
    </div>
</div>
{% endblock %}